.profile__edit-btn
{
    display: flex;
    align-items: center; /* Center items vertically */
    background-color: #fcf5e5;
    color: #212121;
    border: none;
    margin: 0 auto; /* Center button horizontally if needed */
}

.profile__edit-btn img
{
    margin-right: 5px; /* Add some space between the image and text */
}

.profile__add-btn
{
background-color:
width: 149px;
height:52px;
margin-left:auto;
margin-top:auto;
color:
border-radius: 10px;
font-weight: 500;
line-height: 1;
font-size:16px;
gap:8px;
}

.container
{
    position: relative; /* Make sure this is set on the parent element */
}

.profile__add-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: #212121;
    padding: 18px 32px;
    width: 149px;
    height: 52px;
    color: #FCF5E5;
    gap: 8px;
}