.card {
  display: flex;
  flex-direction: column;
  position: relative;
}
.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  font-family: "Poppins", "Arial", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  font-size: 20px;
  width: 335px;
  line-height: 120%;
  color: #212121;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}

.card__like-button {
  background-image: url("../images/Like_Heart_Icon.svg");
  width: 23px;
  height: 20px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 100%;
}

.card__like-button_active {
background-image: url("../images/heart-Union_liked.svg");
  cursor: pointer;
  background-color: transparent;
  opacity: 1;
}

.card__like-button_active:hover{
  opacity: 40%;
  cursor: pointer;
}

.card__delete-button {
  position: absolute;
  background-image: url("../images/delete_icon_default-white1.svg");
  position:absolute;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url("../images/State=Hover-red.svg");
  cursor: pointer;
}

.card__like-button_liked {
  background-image: url(../images/heart=Liked.svg);
  opacity: 1;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.card__like-button_liked:hover {
  background-image: url(../images/hover=heart\ 2.svg);
}

/*↓ This is for Smartphone(s) and Tablet(s) ↓*/

@media screen and (max-width: 627px) {

  .card {
    width: 288px;
  }

  .card__image {
    height: 288px;
    width: 100%;
  }

  .card__title {
    width: 195px;
    font-size: 16px;
    line-height: 16px;
  }
}
