.card {
  width: 413px;
}

.card__image {
  height: 413px;
  width: 413px;
  /*width: 100%;*/
  object-fit: cover;
  display: block;
  border-radius: 8px;
  color: #d9d9d9;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  margin: bottom 36px;
  border: 0px;
}

.card__title {
  font-family: "Poppins", "Arial", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 190px;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-button:hover {
  cursor: pointer;
  color: #212121;
  opacity: 70%;
}

.block {
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 768px) {
  .card__image {
    height: 288px;
    width: 100%;
  }

  .card__content {
    width: 100%;
    margin-bottom: 20px;
  }

  .card__title {
    max-width: 95px;
    font-size: 16px;
    line-height: 16px;
  }
}
