.footer__copyright {
  text-align: center;
  letter-spacing: 1px; /* Adjust the value to your liking */
}

.footer__copyright {
  text-align: center;
  letter-spacing: 0px; /* No extra spacing */
}

.line-class {
  width: 100%;
  /* Other styles for the line */
}
